body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
}

#map {
    margin-bottom: 4em;
    background: #f6f6f6;
    width: 100%;
    height: 70vh
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

@media (min-width: 40em) {
    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}


#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
    margin-top: 15px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#loader{
    position:absolute;
    background: rgba(0,0,0,.7);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 2s;
    -webkit-transition: all 2s;
}

#loader-inner{
    background:#fff;
    width:33%;
    padding:10px;
}

#loader-inner img{
    height:50px;
}

#loader-inner i{
    display:block;
    margin:10px auto 0 auto;
}
